:root{
  /* color */
  --bg__body:#f5f5f5;
  --bg__block:#FFF;
  --color_1:#0f1111;
  --color_2:#485656;
  --color_3:#1d706d;


  /* Wid-Hei */
  --nav_b:200px;
  --br_10:10px;
  --c_wh:1440px

  /* FS */



}


/* ==== STYLE ROOT ======== */

.container{
  max-width: var(--c_wh);
  margin: 0 auto;
}


@media screen and (max-width:1330px) {
  .container{
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 30px;
  }
}

h1,h2,h3,h4,h5,h6,p,ul{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}


img{
  width: 100%;
  margin: 0 auto;
}


body{
  line-height: 24px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Poppins',sans-serif;
  background-color: var(--bg__body);
  color: var(--color_1);
}









/* ============ HEADER =============== */
.header{
  width: 100%;
  padding: 23px 0 30px 0;
  position: fixed;
  background: rgba(245,245,245,0.75);
  transition: background-color .2s ease-in-out;
  z-index: 14;
}


.header__wrapper{
  display: flex;
  align-items: center;
  flex: 1;
}


.header__logo{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 220px;
  margin-right: 60px;
}

.header__form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  max-width: 840px;
  margin: 0 auto;
}
.header__form-input{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: var(--bg__block);
  border-radius: var(--br_10);
  padding: 0 10px 0 0 ;
  border: 1px;
  border-top-color: currentcolor;
  border-top-style: none;
  border-right-color: currentcolor;
  border-right-style: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-left-color: currentcolor;
  border-left-style: none;

  
}
.header__form-search{
  position: relative;
  z-index: 12;
}
.header__form-input input{
  flex-grow: 2;
  padding-top: 14px;
  padding-right: 47px;
  padding-bottom: 14px;
  padding-left: 15px;
  font-family: inherit;
  font-size: 16px;
  color: var(--color_1);
  border-radius: var(--br_10);
  border: none;
}
.header__search i{
  position: absolute;
  right: 15px;
  top: 20px;
  color: var(--color_2);
  font-weight: bold;
  font-size: 20px;
}
.header__form-title{
  font-style: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
  padding: 10px;

}

.header__form-click{
  position: absolute;
  height: 400px;
  background-color: var(--bg__block);
  width: 100%;
  padding: 10px;
  border-radius: var(--br_10);
  margin-top: 10px;
  z-index: 14;
}
.header__form-list{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.header__form-item{
  min-width: 40px;
  padding: 10px;
  margin: 4px;
  border-radius: var(--br_10);
  background-color: #485656;
  color: #b8c9c9;

}

.header__addPost{
  width: 240px;
  padding: 15px 10px;
  background-color: var(--bg__block);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:var(--br_10);
  margin-left: 20px;
}
.header__addPost h3{
  font-size: 17px;
  color: var(--color_2);
  line-height: 24px;
  font-weight: 500;
  padding: 0 10px;
}
.header__addPost i{
  color: var(--color_2);
}


.header__users{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  width: 380px;
  margin-left: 60px;
}

.header__calition{
  position: relative;
  padding: 10px;
}
.header__calition i{
  color: var(--color_2);
  font-size: 22px;
}
.header__calition-cicle{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  right: 7px;
  top: 5px;
}
.header__sing{
  display: flex;
  padding: 10px;
}
.header__sing i{
  color: var(--color_2);
  font-size: 27px;
}
.header__sing-title{
  font-weight: 500;
  line-height: 24px;
  color: var(--color_2);
  margin-left: 10px;
}

/* ========= Header Flex ================= */


/* ============== wrapper__center-section ======= */
.main__wrapper{
  padding:  120px 0 0 0;
}
.wrapper__center-section{
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}




/*========= asideMenu =========*/
.asideMenu{
  width: 500px;
  
}

.asideMenu__menu{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
}
.asideMenu__item{
  display: flex;
  flex-direction: row-reverse;
}

.asideMenu__item:not(:first-child){
  margin-top: 35px;
}
.asideMenu__item i,
.asideMenu__link {
  font-size: 19px;
  font-weight: 500;
  line-height: 26px;
  color: var(--color_2);

}
.asideMenu__link{
  margin-left: 10px;
}
.asideMenu__item i{
  color:#b8c9c9 ;
}

/* ==================== main__wrapper ======= */
.main__wrapper{
  width: 800px;
  padding: 0 100px;
}


/* ============= main__posts ======= */
.main__posts{
  max-width: 100%;
}
.main__post:not(:first-child){
  margin-top: 20px;
}
.main__post{
  max-width: 100%;
  background: var(--bg__block);
  padding: 20px;
  border-radius: var(--br_10);
}
.main__header{
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.main__header-aftor{
  display: flex;
  align-items: center;
}
.main__header-img{
  overflow: hidden;
  width: 34px;
  height: 34px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__header-username{
  color: var(--color_2);
  margin-left: 10px;
  font-weight: 500;
}




.main__header-link{
  margin-left: 20px;
}
.main__header-link i,span{
  color: var(--color_2);
  font-size: 15px;
}

/*=========== main__body-conetnt ======== */
.main__body-linPost{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main__body-conetnt{
  flex: 0 0 60%;
}

.main__body-image{
  flex: 0 0 30%;
  border-radius: 20px;
  overflow: hidden;
}
.main__body-title{
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 27px;
  font-size: 20px;
  margin-bottom: 20px;
}


/* ========= main__footer  ===========*/
.main__footer{
  padding: 20px 0;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main__footer-left{
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.main__footer i,span{
  font-size: 18px;
  color: var(--color_2);
}
.main__footer-commint{
  justify-self: flex-end;
}


/* ================= assde__wrapper ============ */



/* ================ assid__center ==================== */
.title__main{
  font-weight: 500;
  font-style: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.assid__center{
  max-width: 100%;
  padding:  10px 20px;
  background-color: var(--bg__block);
  border-radius: var(--br_10);


}

.asside__link{
  display: flex;
  color: var(--color_1);
  align-items: flex-start;
  justify-content: space-between;
}

.asside__item:not(:first-child){
  margin-top: 20px;
}

.asside__link-content{
  margin-left: 10px;
}
.asside__link-img{
  width: 150px;
  height: 40px;
  border-radius: var(--br_10);
  overflow: hidden;
  display: flex;
  justify-self: center;
  align-items: center;
}
.asside__link-title{
  line-height: 24px;
  margin-bottom: 4px;
  color: var(--color_1);
  font-weight: 500;
  letter-spacing: 0.3px;
}
.assde__link-text{
  font-size: 12px;
  color: var(--color_2);
  line-height: normal;
  font-weight: 300;
}

@media screen and (max-width:1140px) {
  /* HEADER  */
  .header__addPost{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__addPost i{
    font-weight: bold;
    font-size: 25px;

  }
  .header__addPost h3{
    display: none;
  }


}

@media screen and (max-width:940px) {

  .header__form-input{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__search i{
    font-size: 25px;
    font-weight: bold;

  }
  ::-webkit-input-placeholder {
    color: #FFF
  }
}
