<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="https://tproger.ru/favicon-32x32.png">
  <title>Tproject</title>
</head>
<body>

  <div id="app">
    <div class="header">
      <div class="container">
        <div class="container-header">
          <div class="header__wrapper">
            <div class="header__logo">
              <img src="media/s.png" alt="">
            </div>
            <div class="header__form">
              <div class="header__form-search">
                <form  class="header__form-input"  action="">
                  <input @click="form__click = !form__click " type="text" name="" value="" placeholder="Поиск">
                  <i class="bi bi-search"></i>
                </form>
                <div v-if="form__click" class="header__form-click">
                  <h5 class="header__form-title">
                    Рекомендация
                  </h5>
                  <div class="header__form-list">
                    <a class="header__form-item" href="">
                      C++
                    </a>
                    <a class="header__form-item" href="">
                      C
                    </a>
                    <a class="header__form-item" href="">
                      C#
                    </a>
                    <a class="header__form-item" href="">
                      VBS
                    </a>
                    <a class="header__form-item" href="">
                      Python
                    </a>
                    <a class="header__form-item" href="">
                      Js
                    </a>
                    <a class="header__form-item" href="">
                      Java
                    </a>
                    <a class="header__form-item" href="">
                      Rubi
                    </a>
                  </div>
                </div>
              </div>
              <div class="header__addPost">
                <h3 class="header__addPost-title">
                  Добавить пост
                </h3>
                <i class="bi bi-arrow-down-circle-fill"></i>
              </div>
            </div>
            <div class="header__users">
            <div class="header__calition">
              <i class="bi bi-bell-fill"></i>
              <div class="header__calition-cicle"></div>
            </div>
            <div class="header__sing">
              <i class="bi bi-person-fill"></i>
              <h4 class="header__sing-title">
                Войти
              </h4>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="container">
       <div class="wrapper__center-section">
          <aside class="asideMenu">
            <nav class="asideMenu__nav">
              <ul class="asideMenu__menu">
                <li class="asideMenu__item">
                  <a href="" class="asideMenu__link active">
                    Компания
                  </a>
                  <i class="bi bi-buildings-fill"></i>
                </li>
                <li class="asideMenu__item">
                  <a href="" class="asideMenu__link">
                    Вакансия
                  </a>
                  <i class="bi bi-briefcase-fill"></i>
                </li>
                <li class="asideMenu__item">
                  <a href="" class="asideMenu__link">
                    Игры
                  </a>
                  <i class="bi bi-joystick"></i>
                </li>
                <li class="asideMenu__item">
                  <a href="" class="asideMenu__link">
                    Форматы
                  </a>
                  <i class="bi bi-chat-left-dots-fill"></i>
                </li>
                <li class="asideMenu__item">
                  <a href="" class="asideMenu__link">
                    Темы
                  </a>
                  <i class="bi bi-briefcase-fill"></i>
                </li>
                <li class="asideMenu__item">
                  <a href="" class="asideMenu__link">
                    Языки
                  </a>
                  <i class="bi bi-file-code-fill"></i>
                </li>
              </ul>
            </nav>
          </aside>
          <main class="main">
            <div class="main__wrapper">
              <div class="main__posts">
                <div class="main__post" v-for="post in list_post">
                  <div class="main__header">
                    <div class="main__header-aftor">
                      <div class="main__header-img">
                        <img src="https://www.2do2go.ru/uploads/86176d144fb4acf3c3f165983fff7693.jpg">
                      </div>
                      <h4 class="main__header-username">
                        Марина Александровна
                      </h4>
                    </div>
                    <div class="main__header-link">
                      <i class="bi bi-eye"></i>
                      <span>9823</span>
                    </div> 
                  </div>
                  <div class="main__body">
                    <a class="main__body-linPost">
                      <div class="main__body-conetnt">
                        <h3 class="main__body-title">
                          Придумываем дюжину новейших задач для собеседований в IT-компаниях   
                      </h3>
                      <p class="main__body-text">
                        Решаем алгоритмическую задачу с собеседований про острова несколькими способами: реализация на языках Java и C#. 
                      </p>
                      </div>
                      <div class="main__body-image">
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2b291d95407237.5e96d8070c2ab.png">
                      </div>
                    </a>
                  </div>
                  <div class="main__footer">
                    <div class="main__footer-left">
                      <div class="main__footer-save">
                      <i class="bi bi-bookmark"></i>
                      <span>9</span>
                    </div>
                    <div class="main__footer-commint">
                      <i class="bi bi-chat-dots"></i>
                      <span>23</span>
                    </div>
                    </div>
                    <div class="main__footer-like">
                      <i class="bi bi-hand-thumbs-up"></i>
                      <span>2341</span>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </main>
          <aside class="asideRegomition">
              <div class="assid__center">
                <h5 class="title__main">
                  Вакансия
                </h5>
                <ul class="asside__list">
                  <li class="asside__item">
                    <a class="asside__link" href="">
                      <div class="asside__link-img">
                        <img src="https://avatars.dzeninfra.ru/get-zen_doc/1641493/pub_5ebc7b1ef4c7c037daded168_5ec1bfa5e48cda281505b464/scale_1200" alt="">
                      </div>
                      <div class="asside__link-content">
                        <h6 class="asside__link-title">DevOps-специолист</h6>
                        <p class="assde__link-text">
                          itchief.ru›JavaScript›Настройка VS Code для разработки на Jav
                        </p>    
                      </div>
                    </a>
                  </li>
                  <li class="asside__item">
                    <a class="asside__link" href="">
                      <div class="asside__link-img">
                        <img src="https://images.satu.kz/126166854_w640_h640_microsoft-visual-studio.jpg" alt="">
                      </div>
                      <div class="asside__link-content">
                        <h6 class="asside__link-title">Cпециолист</h6>
                        <p class="assde__link-text">
                          itchief.ru›JavaScript›Настройка VS Code для разработки на Jav
                        </p>    
                      </div>
                    </a>
                  </li>
                  <li class="asside__item">
                    <a class="asside__link" href="">
                      <div class="asside__link-img">
                        <img src="https://user-images.githubusercontent.com/30925653/31585679-bb6db8f0-b1ce-11e7-984b-c3262a766f76.JPG" alt="">
                      </div>
                      <div class="asside__link-content">
                        <h6 class="asside__link-title">DevOps</h6>
                        <p class="assde__link-text">
                          itchief.ru›JavaScript›Настройка VS Code для разработки на Jav
                        </p>    
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
          </aside>
      </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js" charset="utf-8"></script>
</body>
</html>
